* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(249, 249, 249);
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  font-family: "Inter", Arial, Helvetica, sans-serif;
}

#app {
  background-color: #282d35;
  width: 550px;
  height: 550px;
}

header {
  display: flex;
  align-items: center;

  height: 91px;
  width: 100%;

  background-color: #21222a;
  padding: 0px 26px;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header logo */

nav .logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

nav .logo p {
  font-weight: 700;
  color: #61dafb;
  line-height: 27px;
  font-size: 22px;
}

/* header right-part */

header .nav-right-part p {
  color: #deebf8;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

/* Main Content */

.main-content {
  background: url("./assets/icons/reactjs-big.png") no-repeat top 107px right;
  padding-bottom: 60px;
}

.main-content h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -0.05em;

  padding-top: 57px;
  padding-bottom: 46px;

  padding-left: 27px;
}

.main-content ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  gap: 20px;

  padding-right: 81px;
  padding-left: 54px;
}

.main-content ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  background: url("./assets/icons/blue-circle.png") no-repeat top 5px left 0px;

  padding-left: 20px;
}

/* responsive version (Mobile) */

@media screen and (max-width: 576px) {
  body {
    display: block;
    background-color: #282d35;
  }

  #app {
    width: 100%;
    height: auto;
  }

  header {
    padding: 0px 12px;
  }

  nav .logo p {
    line-height: 23px;
    font-size: 18px;
  }

  header .nav-right-part p {
    font-size: 14px;
    line-height: 18px;
  }

  .main-content {
    background: url("./assets/icons/reactjs-big.png") no-repeat top 87px right / 80px;
    padding-bottom: 60px;
  }
  
  .main-content h1 {
    font-size: 30px;

    padding-top: 30px;
    padding-bottom: 20px;
  }

  .main-content ul {
    padding: 0px 20px 0px 50px;
  }

  .main-content ul li {
    font-size: 12px;
  }

  
}
